<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='stylesdl.css') }}">
    <title>Downloading...</title>
</head>
<body>
    <span><h3 class=myh3 style="color: #fff;align-self: start;">0%</h3></span>
    <div class="progress">
    <div class="progress-value" style="width: 0%;"></div>
    </div>
    <p id="jobi" style="display: none;">{{job_id}}</p>
    <script>
        var job_id = document.getElementById("jobi").innerHTML
        var source = new EventSource('downloading/'+job_id)
        source.onmessage = function (event){
            $('.progress-value').css('width', event.data + '%');
            $('.myh3').html(event.data + '%');
            };
    </script> 
    <script>
        var job_id = document.getElementById("jobi").innerHTML
        var source = new EventSource('done/' + job_id)
        source.onmessage = function (event){
            if (event.data == '1'){
                window.location.replace("/success")
            }
            };
    </script> 
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
</body>
</html>